<%- include("partials/header") %>  <!-- No need to add the .ejs extension  -->
<!-- <link rel="stylesheet" href="app.css">  This is included in the partial -->

<h1>Welcome to the posts page!</h1>
<!-- <%= postsTemplate %> -->
<ul>
<% postsTemplate.forEach(function(element) { %>
    <li>Title <%= element.title %>, by <%= element.author %></li>
<% }); %>
</ul>

<%- include("partials/footer") %>